@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-space-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-light: var(--secondary-light);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #fffaf8;
  --foreground: #241318;
  --card: #fffaf8;
  --card-foreground: #241318;
  --popover: #fffaf8;
  --popover-foreground: #241318;
  --primary: #ef4855;
  --primary-foreground: #fffaf8;
  --secondary: #44a095;
  --secondary-foreground: #fffaf8;
  --secondary-light: #f5f8f5;
  --tertiary: #b08dc0;
  --tertiary-foreground: #fffaf8;
  --muted: #e1dad6;
  --muted-foreground: #433032;
  --accent: #f7974d;
  --accent-foreground: #241318;
  --destructive: #dc2626;
  --destructive-foreground: #fffaf8;
  --border: #e5d9d5;
  --input: #e5d9d5;
  --ring: #ef4855;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  letter-spacing: -0.02em;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}